body{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  color: #212121;
}
.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-brand{
  display: flex;
  align-items: center;
  &-text{
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 95%;
    letter-spacing: -0.02em;
  }
  &-divider{
    width: 1px;
    height: 40px;
    margin-left: 28px;
    margin-right: 28px;
  }
}
.navbar-nav .nav-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.navbar-toggler{
  border: none;
}
.navbar-dark{
  .navbar-brand{
    &-text{
      &-main{
        color: #ffffff;
      }
      &-secondary{
        color: #d4def0;
      }
    }
    &-img{
      &-white{
        display: block;
      }
      &-gray{
        display: none;
      }
    }
    &-divider{
      background: #FFFFFF;
      opacity: 0.15;
    }
  }
  .navbar-nav .nav-link{
    color: #FFFFFF;
  }
}
.navbar-light{
  .navbar-brand{
    &-text{
      &-main{
        color: #585858;
      }
      &-secondary{
        color: #AAAFB8;
      }
    }
    &-img{
      &-white{
        display: none;
      }
      &-gray{
        display: block;
      }
    }
    &-divider{
      background: #DFDFDF;
    }
  }
  .navbar-nav .nav-link{
    color: #212121;
  }
}
.section{
  font-size: 17px;
  &-header{
    margin-bottom: 63px;
  }
  &-title{
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.35px;
    color: #A3A3A3;
  }
  &-subtitle{
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.25px;
    color: #212121;
  }
  &-hr{
    width: 90%;
    margin: 0 auto;
    background: #E6E6E6;
  }
}
.link-more{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #212121;
  &:hover{
    color: #212121;
  }
  &:after{
    content: "\F0054";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
  }
}

#about{
  padding-top: 130px;
  padding-bottom: 77px;
  .person{
    display: flex;
    align-items: center;
    margin-top: 45px;
    &-img{}
    &-text{
      margin-left: 20px;
    }
    &-name{
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
    }
    &-position{
      font-weight: 300;
      font-size: 11px;
      line-height: 150%;
      color: #757575;
    }
  }
}
#news{
  padding-top: 72px;
  padding-bottom: 89px;
  .card-news{
    margin-bottom: 57px;
    .card-news-title{
      display: block;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #212121;
      margin-top: 20px;
      margin-bottom: 20px;
      &:hover{
        color: $primary;
        text-decoration: none;
      }
    }
    .card-news-footer{
      font-weight: 300;
      font-size: 11px;
      line-height: 120%;
      color: #757575;
      .news-section{
        text-transform: uppercase;
      }
    }
  }
  .news-link-more{
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: #212121;
    &:after{
      content: "\F0054";
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 5px;
    }
  }
}
#introduction{
  padding-top: 91px;
  padding-bottom: 70px;
  background: #F2F2F2;
  .introduction-card{
    padding: 30px 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(202, 202, 202, 0.25);
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-icon{
      color: #000000;
      opacity: 0.1;
      font-size: 71px;
      line-height: 71px;
    }
    &-title{
      margin-top: 33px;
      font-weight: 500;
      font-size: 22px;
      line-height: 150%;
      color: #212121;
      margin-bottom: 21px;
      display: block;
    }
    &-description{
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 32px;
    }
  }
  .introduction-link-more{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
    display: inline-block;
    margin-top: auto;

    &:after{
      content: "\F0054";
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 5px;
    }
  }
  .mtpp-standart-wrap{
    margin: 60px auto 0;
    padding-top: 80px;
    padding-bottom: 90px;
    background: #EAEAEA;
    width: 90%;
    max-width: 1220px;
  }
}
#education{
  padding-top: 90px;
  padding-bottom: 110px;
  .education-text{
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
  }
  .education-card{
    margin-bottom: 50px;
    &-header{
      display: flex;
      flex-direction: column;
      height: 220px;
      background: #EDEDED;
      border-radius: 4px;
      padding: 27px 20px;
    }
    &-title{
      font-weight: bold;
      font-size: 19px;
      line-height: 120%;
      color: #212121;
      margin-top: auto;
      margin-bottom: 27px;
    }
    &-link-more{
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #767676;
      &:after{
        content: "\F0054";
        display: inline-block;
        font: normal normal normal 24px/1 "Material Design Icons";
        font-size: inherit;
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 5px;
      }
    }
    &-description{
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #757575;
      margin-top: 20px;
    }
  }
}
#events{
  padding-top: 75px;
  padding-bottom: 50px;
  .events-section-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 68px;
  }
  .events-archive-link{
    display: block;
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    text-align: right;
    letter-spacing: -0.35px;
    color: #E7E7E7;
  }
  .event-card{
    margin-bottom: 50px;
    &-preview{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      background-size: cover;
      background-position: center;
      &:hover{
        text-decoration: none;
      }
    }
    &-date{
      font-weight: 900;
      font-size: 40px;
      line-height: 120%;
      color: #FFFFFF;
    }
    &-title{
      font-weight: bold;
      font-size: 19px;
      line-height: 120%;
      margin-top: 20px;
      margin-bottom: 26px;
    }
    &-details{
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
      margin-bottom: 13px;
      &-label{
        color: #757575;
      }
    }
    &-link-more{
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #767676;
      margin-top: 25px;
      display: inline-block;
      &:after{
        content: "\F0054";
        display: inline-block;
        font: normal normal normal 24px/1 "Material Design Icons";
        font-size: inherit;
        text-rendering: auto;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 5px;
      }
    }
  }
}
#partners{
  padding-top: 95px;
  padding-bottom: 150px;
  .partner-card{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 25px 16px;
    margin-bottom: 60px;
    img{
      max-width: 100%;
    }
  }
}
.footer{
  padding-top: 30px;
  padding-bottom: 52px;
  background: #565656;
  color: #B1B1B1;
  &-section{
    &-title{
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      color: #B1B1B1;
      margin-bottom: 9px;
    }
    &-link{
      display: block;
      font-weight: 300;
      font-size: 11px;
      line-height: 180%;
      color: #B1B1B1;
      &:hover{
        color: #B1B1B1;
      }
    }
  }
  &-info{
    margin-top: 38px;
    align-items: center;
    &-link{
      display: block;
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
      color: #B1B1B1;
      &:hover{
        color: #B1B1B1;
      }
    }
    &-text{
      font-weight: 300;
      font-size: 11px;
      line-height: 130%;
    }
    .col{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &-logo{
    display: flex;
    align-items: center;
    &-text{
      font-family: Questrial;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 95%;
      letter-spacing: -0.02em;
      &-main{
        color: #ffffff;
      }
      &-secondary{
        color: #d4def0;
      }
    }
    &-divider{
      width: 1px;
      height: 40px;
      background: #FFFFFF;
      opacity: 0.15;
      margin-left: 28px;
      margin-right: 28px;
    }
  }
  &-developer-link{
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #B1B1B1;
    margin-top: 40px;
    &:hover{
      color: #B1B1B1;
    }
  }
}
// mobile fix
@media (max-width: 575.98px) {
  .hero-slider__title{
    font-size: 40px;
  }
  .section-title, #events .events-archive-link{
    font-size: 40px;
  }
  .section-subtitle{
    font-size: 31px;
  }
  .navbar-brand-divider{
    margin: 0 10px;
  }
}